<p-accordion>
  <p-accordionTab header="Pace for time and distance" [selected]="true">

    <p-card>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <p-spinner name="hours" size="2" maxlength="2" [(ngModel)]="hours" [min]="0" [max]="99" placeholder="hrs"></p-spinner>
          </div>
          <div class="ui-grid-col-4">
            <p-spinner name="minutes" size="2" maxlength="2" [(ngModel)]="minutes" [min]="0" [max]="59" placeholder="mins"></p-spinner>
          </div>
          <div class="ui-grid-col-4">
            <p-spinner name="seconds" size="2" maxlength="2" [(ngModel)]="seconds" [min]="0" [max]="59" placeholder="secs"></p-spinner>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-autoComplete name="distance" required [(ngModel)]="distance" [suggestions]="distanceSuggestions" (completeMethod)="selectDistance($event)"
              (onKeyUp)="checkUnitEnablement($event)" (onSelect)="setUnitEnablement($event)" (onClear)="isSuggestedDistance=false"
              [size]="30" [minLength]="1" placeholder="distance" [dropdown]="true">
            </p-autoComplete>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <div class="ui-g">
              <p-radioButton [disabled]="isSuggestedDistance" name="distanceUnit" class="ui-g-12" value="miles" label="miles" [(ngModel)]="selectedDistanceUnit"></p-radioButton>
              <p-radioButton [disabled]="isSuggestedDistance" name="distanceUnit" class="ui-g-12" value="kilometers" label="kilometers"
                [(ngModel)]="selectedDistanceUnit"></p-radioButton>
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p style="font-size:1.2em;">
              <span style="font-weight: bold; margin-right:10px">Calculated pace:</span>
              <span>{{calculatePace()}} per mile</span>
            </p>
          </div>
        </div>
      </div>
    </p-card>

  </p-accordionTab>
  <p-accordionTab header="Time for distance and pace">
    Content 2
  </p-accordionTab>
  <p-accordionTab header="Distance for time and pace">
    Content 3
  </p-accordionTab>
</p-accordion>